<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Exam2/WAR_JEE_W_02_JEE_Exam_2_Poprawa/exam/Main3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="exam.Main3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exam2"/>
</launchConfiguration>
